@charset "UTF-8";
Html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  animation-name: opacity;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea,
input {
  outline: 0;
}

button {
  font-family: Roboto;
  border: none;
  background-color: transparent;
  padding: 0;
  display: inline-block;
}

@keyframes scaleButton {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.form-field, .form-label, .form-field-comment-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-send, .our-nations-picture-div, .what-are-we-doing-text,
.what-are-we-doing-list, .team-social-list, .team-social-link, .clients-item-link, .footer-center-social-link, .footer-right button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #757575;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.backdrop-close-button {
  width: 30px;
  height: 30px;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  cursor: pointer;
}

.backdrop-close-button:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.backdrop-close-button:hover, .backdrop-close-button:focus {
  fill: #2196f3;
}

.modal-button-send {
  width: 200px;
  height: 50px;
  text-align: center;
}

.form-field {
  margin-bottom: 28px;
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  top: 13px;
  left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-input:hover, .form-input:focus {
  border-color: #2196f3;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-30px) translateX(-26px);
  color: #2196f3;
}

.form-input:focus:required:valid {
  border: 1px solid #008000;
}

.form-input:focus:required:invalid {
  border: 1px solid #ff0000;
}

.form-input:hover + .form-label {
  color: #2196f3;
}

.form-input:hover ~ .form-svg,
.form-input:focus ~ .form-svg {
  fill: #2196f3;
}

.form-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-field-comment {
  margin-bottom: 21px;
  position: relative;
}

.form-field-comment:hover textarea,
.form-field-comment:focus textarea {
  border-color: #2196f3;
}

.form-field-comment-texteria {
  width: 100%;
  height: 120px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field-comment-texteria:hover + .form-field-comment-label {
  color: #2196f3;
}

.form-field-comment-texteria:focus + .form-field-comment-label,
.form-field-comment-texteria:not(:placeholder-shown) + .form-field-comment-label {
  transform: translateY(-32px);
  color: #2196f3;
}

.form-field-comment-label {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field-checkbox label {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-field-checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field-checkbox input:checked + .icon {
  background-color: #2196f3;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  display: inline-block;
  align-items: center;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  border: 1px solid black;
  border-radius: 3px;
}

.form-field-checkbox a {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
  .form-field-checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-button-send, .hero-button, .footer-right button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  border-style: none;
  cursor: pointer;
}

.clients-title,
.team-title,
.what-are-we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.footer-logo,
.navigation-link-logo {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1199px) {
  .footer-logo,
  .navigation-link-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo,
  .navigation-link-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.footer-logo .web,
.navigation-link-logo .web {
  color: #2196f3;
}

.link {
  text-decoration: none;
  font-style: normal;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.active {
  color: #2196f3;
}

.navigation-address-link {
  fill: #757575;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.navigation-address-link:hover, .navigation-address-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.navigation-link-logo {
  color: #212121;
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
}

.navigation-social-link-picture {
  margin-right: 10px;
}

.header .container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .active::after {
    content: '';
    bottom: -8px;
    transform: translateY(-50%);
  }
  .navigation {
    opacity: 0;
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 394px;
    position: absolute;
    border-top: 1px solid #ececec;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
  }
  .navigation * li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation.is-open {
    opacity: 1;
    transform: translateY(0);
    z-index: 99999;
  }
  .icon-close {
    opacity: 0;
  }
  .navigation-list {
    margin-bottom: 60px;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-list-link {
    position: relative;
  }
  .navigation-address-list:not(:last-child) {
    margin-bottom: 16px;
  }
  .header-menu-button {
    cursor: pointer;
  }
  .header-menu-button:hover, .header-menu-button:focus {
    fill: #2196f3;
    outline-color: #2196f3;
  }
  .header-menu-button.is-open .icon-close {
    opacity: 1;
  }
  .header-menu-button.is-open .icon-burger {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    margin-top: 100%;
    margin-bottom: 100%;
    font-size: 14px;
    line-height: 1.14;
  }
  .navigation-address-link {
    font-size: 12px;
    line-height: 1.16;
  }
  .navigation,
  .navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-menu-button {
    display: none;
  }
  .navigation-list {
    margin-right: 84px;
  }
  .active::after {
    bottom: -223%;
  }
}

@media screen and (max-width: 1199px) {
  .navigation-address-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .navigation-adress {
    display: flex;
    align-items: center;
  }
  .navigation-address-list:not(:last-child) {
    margin-right: 30px;
  }
  .navigation-address-link,
  .navigation-list-link {
    line-height: 1.14;
  }
  .navigation-list {
    margin-right: 305px;
  }
  .active::after {
    bottom: -175%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 118px;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/Header-mobile.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px 10px 32px;
  display: block;
  animation-name: scaleButton;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/Header-mobile.jpg");
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/Header-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/header-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/header-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/header-big.jpg");
    background-size: cover;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/фон/header@2x-big.jpg");
  }
}

.our-nations .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-nations-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.our-nations-picture-div {
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.our-nations-picture {
  width: 70px;
  height: 70px;
}

.our-nations-text {
  font-size: 14px;
  line-height: 1.7;
}

.our-nations-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .our-nations-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .our-nations-item {
    width: 354px;
  }
}

.our-nations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .our-nations .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-nations-item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .what-are-we-doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-are-we-doing .container {
    padding-top: 0;
  }
  .what-are-we-doing-title {
    margin-bottom: 50px;
  }
  .what-are-we-doing-item {
    max-height: 294px;
    position: relative;
  }
  .what-are-we-doing-item:not(:last-child) {
    margin-right: 30px;
  }
  .what-are-we-doing-text {
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
  }
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  background-size: 22px, contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  fill: #afb1b8;
}

.team-social-link:hover, .team-social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  color: #2196f3;
}

.team-social-link-picture {
  width: 20px;
  height: 20px;
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item {
  width: 100%;
  padding-bottom: 24px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-item,
.team-photo,
.team-title {
  margin-bottom: 30px;
}

.team-photo {
  width: 100%;
}

.team {
  background-color: #f5f4fa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}

.clients-item-link {
  max-width: 200px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-item-link:hover, .clients-item-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
  .clients-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .clients-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    width: 226px;
    margin-bottom: 30px;
  }
  .clients-item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .clients-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-item-link {
    width: 170px;
  }
}

.footer-center-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 22px, contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  fill: #ffffff;
}

.footer-center-social-link:hover, .footer-center-social-link:focus {
  background-color: #2196f3;
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  background-size: cover;
  background-position: center;
}

.footer-logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-maps {
  color: #ffffff;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.7;
}

.footer-address-link:hover, .footer-address-link:focus {
  color: #2196f3;
}

.opasity-color {
  color: rgba(255, 255, 255, 0.6);
}

.footer-center-list {
  display: flex;
}

.footer-center-social-link-picture {
  width: 20px;
  height: 20px;
}

.footer-right-title,
.footer-center-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-right button {
  padding: 10px 28px 10px 28px;
}

.footer-right input {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.footer-right-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.footer-center-item:not(:last-child) {
  margin-right: 10px;
}

.footer-right-form input {
  margin-bottom: 20px;
}

.footer-right input {
  margin-right: 12px;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-right {
    width: 100%;
  }
  .footer-right-form input {
    width: 100%;
  }
  .footer-center,
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-right-form input {
    width: 450px;
  }
  .footer-center {
    margin-right: 89px;
  }
  .footer-left {
    margin-left: 76px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-right {
    margin: 0 auto;
    margin-top: 60px;
  }
  .footer-logo,
  .footer-center-title,
  .footer-right,
  .footer-address-link {
    display: block;
    text-align: center;
  }
  .footer-right button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right,
  .footer-center {
    margin-top: 12px;
  }
  .footer-right button,
  .footer-center button {
    height: 50px;
  }
  .footer-left {
    margin-left: 0;
  }
  .footer-right-form input {
    width: 358px;
  }
  .footer-right-form {
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */