.clients .container {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  cursor: pointer;
}
.clients-item-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  @extend %position-center;
  fill: $social-link-color;
  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
