.footer-center-social-link {
  @extend %position-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 22px, contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  fill: $text-dark-theme-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $accent-color;
  }
}
.footer {
  background-color: $footer-background-color;
  background-size: cover;
  background-position: center;
}

.footer-logo {
  margin-bottom: 20px;
  color: $text-dark-theme-color;
}
.footer-address-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.footer-maps {
  color: $text-dark-theme-color;
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.7;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.opasity-color {
  color: rgba(255, 255, 255, 0.6);
}
.footer-center-list {
  display: flex;
}
.footer-center-social-link-picture {
  width: 20px;
  height: 20px;
}
.footer-right-title,
.footer-center-title {
  display: block;
  margin-bottom: 20px;
  @include font-stile(700, 14px, 1.14, $text-dark-theme-color);
  text-transform: uppercase;
}
.footer-right {
  button {
    @extend %button;
    padding: 10px 28px 10px 28px;
    @extend %position-center;
  }
  input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    height: 50px;
    @include font-stile(400, 16px, 1.25, rgba(255, 255, 255, 0.6));
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
  }
}

.footer-right-svg {
  width: 24px;
  height: 24px;
  fill: $text-dark-theme-color;
  margin-left: 10px;
}
.footer-center-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-right-form {
  input {
    margin-bottom: 20px;
  }
}
.footer-right {
  input {
    margin-right: 12px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer-right {
    width: 100%;
  }
  .footer-right-form {
    input {
      width: 100%;
    }
  }
  .footer-center,
  .footer-address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .footer-center {
    margin-right: 89px;
  }
  .footer-left {
    margin-left: 76px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-right {
    margin: 0 auto;
    margin-top: 60px;
  }
  .footer-logo,
  .footer-center-title,
  .footer-right,
  .footer-address-link {
    display: block;
    text-align: center;
  }
  .footer-right {
    button {
      margin: 0 auto;
    }
  }
  .footer-right-form {
    input {
      width: 450px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer-right,
  .footer-center {
    margin-top: 12px;
    button {
      height: 50px;
    }
  }
  .footer-left {
    margin-left: 0;
  }
  .footer-right-form {
    input {
      width: 358px;
    }
  }
  .footer-right-form {
    display: flex;
  }
}
