.address-conteiner {
  margin-left: auto;
}
.navigation {
  @extend %position-center;
}
.navigation-link-logo {
  color: $title-text-color;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation-list,
.navigation-adress,
.navigation-address-list {
  display: flex;
}
.navigation-address-list:not(:last-child) {
  margin-right: 30px;
}
.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font-stile(500, 14px, 1.4, $title-text-color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.navigation-list-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}
.active {
  color: $accent-color;
}
.navigation-address-link {
  padding-top: 32px;
  padding-bottom: 32px;
  fill: $text-white-theme-color;
  @include font-stile(500, 14px, 1.2, $text-white-theme-color, 0.02em);
  @extend %position-center;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.navigation-social-link-picture {
  margin-right: 10px;
}
