.team {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: $button-background-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  text-align: center;
  justify-content: center;
}
.team-item {
  background: $text-dark-theme-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 21px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team-text,
.team-item-title {
  font-size: 16px;
  line-height: 1.18;
}
.team-foto {
  display: inline-block;
  margin-bottom: 30px;
}
.team-item-title {
  font-weight: 500;
  color: $title-text-color;
  margin-bottom: 10px;
}
.team-text {
  margin-bottom: 16px;
}
.team-social-list {
  @extend %position-center;
}
.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $text-dark-theme-color;
  background-size: 22px, contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  @extend %position-center;
  fill: $social-link-color;
  &:hover,
  &:focus {
    fill: $text-dark-theme-color;
    background-color: $accent-color;
    color: $accent-color;
  }
}
.team-social-link-picture {
  width: 20px;
  height: 20px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}
