.team-social-list {
  @extend %position-center;
}
.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $text-dark-theme-color;
  background-size: 22px, contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  @extend %position-center;
  fill: $social-link-color;
  &:hover,
  &:focus {
    fill: $text-dark-theme-color;
    background-color: $accent-color;
    color: $accent-color;
  }
}
.team-social-link-picture {
  width: 20px;
  height: 20px;
}
.team-title {
  @include font-stile(700, 28px, 1.17, $title-text-color);
}
.team-item-title {
  @include font-stile(500, 16px, 1.8, $title-text-color);
}
.team-text {
  margin-bottom: 16px;
  @include font-stile(400, 16px, 1.8, $title-text-color);
}
.team-item {
  width: 100%;
  padding-bottom: 24px;
  text-align: center;
  background: $text-dark-theme-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-item,
.team-photo,
.team-title {
  margin-bottom: 30px;
}
.team-photo {
  width: 100%;
}
.team {
  background-color: $conteiner-background-color-2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-item {
    width: 354px;
  }
  .team-photo {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
  .team-photo {
    height: 260px;
  }
}
