.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  padding: 40px;
  background-color: $text-dark-theme-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-white-theme-color;
}
.modal-title {
  @include font-stile(700, 20px, 1.15, #000000);
  margin-bottom: 30px;
  text-align: center;
}
.backdrop-close-button {
  width: 30px;
  height: 30px;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: $text-dark-theme-color;
  cursor: pointer;
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal-button-send {
  @extend %button;
  width: 200px;
  height: 50px;
  text-align: center;
}
.modal-send {
  @extend %position-center;
}
.form-field {
  @extend %modal-font;
  margin-bottom: 28px;
  display: block;
  position: relative;
}
.form-label {
  @extend %modal-font;
  position: absolute;
  top: 13px;
  left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  &:focus + .form-label,
  &:not(:placeholder-shown) + .form-label {
    transform: translateY(-30px) translateX(-26px);
    color: $accent-color;
  }
  &:focus:required:valid {
    border: 1px solid #008000;
  }
  &:focus:required:invalid {
    border: 1px solid #ff0000;
  }
  &:hover + .form-label {
    color: $accent-color;
  }
  &:hover ~ .form-svg,
  &:focus ~ .form-svg {
    fill: $accent-color;
  }
}
.form-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form-field-comment {
  margin-bottom: 21px;
  position: relative;

  &:hover textarea,
  &:focus textarea {
    border-color: $accent-color;
  }
}
.form-field-comment-texteria {
  width: 100%;
  height: 120px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  &:hover + .form-field-comment-label {
    color: $accent-color;
  }
  &:focus + .form-field-comment-label,
  &:not(:placeholder-shown) + .form-field-comment-label {
    transform: translateY(-32px);
    color: $accent-color;
  }
}
.form-field-comment-label {
  @extend %modal-font;
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field-checkbox {
  label {
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    padding: 0;
    border: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  input:checked + .icon {
    background-color: $accent-color;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.icon {
  display: inline-block;
  align-items: center;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  margin-right: 6px;
  border: 1px solid black;
  border-radius: 3px;
}

.form-field-checkbox {
  a {
    color: $accent-color;
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
  .form-field-checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}
